welcome.mp3

frontend/# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
frontend/# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/# testing
frontend//coverage
frontend/# production
frontend/build
frontend/# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
random_audio.mp3
random_video.mp4
result.mp4
app/speech_audio.mp3
